[Bb]in/
[Oo]bj/
*.exe
*.dll
*.pdb

.vs/
*.user
*.suo
*.userprefs
*.sln.docstates
.idea/
*.ReSharper

TestResults/
*.log

Properties/PublishProfiles/*.pubxml.user
publish/
*.[Pp]ublish.xml

.DS_Store
Thumbs.db
ehthumbs.db

*appsettings.Local.json